@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "poppins" , sans-serif;
}

body, html {
    font-size: 15px;
    padding: 0;
}

h1 {
    font-size: 200%;
    margin-bottom: 1.6em;
    font-weight: 700;
}

h2 {
    font-size: 160%;
    margin-bottom: 1.4em;
    font-weight: 500;
}

h3 {
    font-size: 140%;
    margin-bottom: 1.2em;
    font-weight: 300;
}

p {
    font-size: 105%;
    line-height: 150%;
}

nav {
    background-color: steelblue;
    padding: 1em;
}

ul {
    margin: 0.5em;
}

li {
    padding: 0.6em;
    list-style: none;
}

a {
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bold;
    padding: 0.5em;
    transition: 0.4s;
}

a:link {
    color: whitesmoke;
    background-color: steelblue;
}

a:hover {
    color: royalblue;
    background-color: silver;
}

a:active {
    color: green;
    background-color: yellow;
}

header {
    background-color: teal;
    padding: 1em;
}

header h1 {
    color: whitesmoke;
    font-size: 3em;
    margin: 0.5em !important;    
}

main {
    margin: 1em;
}

section {
    background-color: silver; 
    padding: 1em;
    margin-bottom: 1em;
}

article {
    width: 96%;
    margin: 1%;
    padding: 1%;
    border-radius: 0.5em;
}

article figure {
    margin: 1em;
}

article figure img {
    width: 100%;
}

form {
    margin: 1em;
    padding: 1em;
}

form div {
    margin: 0.5em;
}

form div label {
    font-size: 0.8em;
    color: crimson;
}

form div label input,
form div button {
    font-size: 20px;
    background: none;
    border: none;
    border-bottom: 2px solid darkred;
    width: 98%;
    margin: 1%;
}

form div button {
    background: darkred;
    color: whitesmoke;
    padding: 1%;
    border-radius: 0em 0em 1em 1em;
    transition: 0.5s;
}

form div button:hover {
    background: black;
}

footer {
    background-color: teal;
    padding: 1em;
    color: whitesmoke;
}

footer p, 
footer address {
    margin: 1em;
    width: 100%;
    text-align: center;
}

footer address a {
    font-size: 1em;
    padding: 0.1em;
    background: none !important;
}

.art1 {
    padding: 0.5em;
    background-color: rgb(184, 110, 174); 
    text-align: justify;
}

.art2 {
    padding: 0.5em; 
    background-color: rgb(194, 149, 165);
    text-align: justify;
}

.art3 {
    padding: 0.5em; 
    background-color: rgb(168, 184, 212);
    text-align: justify;
}

.art4 {
    padding: 0.5em; 
    background-color: rgb(191, 216, 216);
    text-align: justify;
}